---
# Bot::IRCBot configuration file. (YAML)

# Server to connect to
server:     clarke.freenode.net
port:       6667

# Channels to join
channels: [ "#ircbot-default" ]

# Nicks to use
nick:       Bot-IRCBot
alt_nicks:  [ Bot-IRCBotA, Bot-IRCBotB, Bot-IRCBotC ]

# Loaded plugins
plugins: [ YouTube, GoogleImages, Lolcat, UrbanDictionary ]

# Misc. stuff
charset:    utf-8
username:   Bot-IRCBot
name:       Bot-IRCBot

